.main-search,.select-search {
    margin: 5px;
    border-radius: 2px;
    border: solid 1px #bdbdbd;
    height: 2em;
    margin-bottom: 0;
}

.main-search{
    overflow: hidden;
    position: relative;
}

.select-search{
    margin-top:0 ;
    height: auto;
    border-top: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: none;
}

#keyword {
    width: 100%;
    height: 2em;
    line-height: 1em;
    font-size: 1em;
    border: none;
    padding-left: 10px;
}

input:focus{
    outline: none;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

li{
    font-size: 1.0em;
    line-height: 2.3em;
    font-weight: 600;
    color: #673ab7;
    padding-left: 10px;
    border-top: solid 1px rgba(0,0,0,0.1);
}

.search{
    display: inline-block;
    height: 2em;
    width: 2em;
    background-color: #8bc34a;
    position: absolute;
    right: 0;
    top: 0;
}

.icon{
    margin: 0.3em;
    width: 1.4em;
    height: 1.4em;
}
